<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">Unlx%bjXVnwt9H4bA</property>
        <property name="hibernate.connection.url">jdbc:mysql://donoso005node.mooo.com:25570/ClinicaMedica?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">rubenchus18</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<mapping resource="persistencias/Citas.hbm.xml"/>
		<mapping resource="persistencias/Empleados.hbm.xml"/>
		<mapping resource="persistencias/Facturas.hbm.xml"/>
		<mapping resource="persistencias/HistorialesMedicos.hbm.xml"/>
		<mapping resource="persistencias/Medicos.hbm.xml"/>
		<mapping resource="persistencias/Pacientes.hbm.xml"/>
		<mapping resource="persistencias/Recepcionistas.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
